.App {
  scroll-behavior: smooth;
}
.aboutus {
  font-size: 100px;
}

.chooseus {
  font-size: 60px;
}

#about {
  height: "100vh";
}

.footimg {
  width: 30%;
}

/* #contact {
  height: "175vh";
} */

@media screen and (max-width: 990px) {
  .aboutus {
    font-size: 70px;
  }

  #about {
    height: "150vh";
  }

  .chooseus {
    font-size: 50px;
  }

  .image {
    display: none;
  }

  .footimg {
    width: 50%;
  }

.rev {
  display: flex;
  flex-direction: column-reverse;
}

  /* #contact {
    height: "155vh";
  } */
}

